<article class="row">
    <header class="article-header">
        <h3 class="article-header__title">Elizabeth has been featured in the following publications: </h3>
    </header>
    <section class="section-body__content">
        <div class="card-container">
            {{range .Site.Data.publications }}
            <div class="card">
                <header class="card-header">
                    <h3><a href="{{ .url }}" rel="nofollow noreferrer" target="_blank" title="{{ .name }}">{{ .name }}</a></h3>
                </header>
                <p>{{ .description }}</p>
            </div>

            {{ end }}
            
        </div>
        <ul>

            <li></li>
        </ul>
    </section>
</article>