<article class="row">
    <header class="article-header">
        <h2 class="article-header__title">Contact Elizabeth</h2>
        <p>Interested in working with me?  Contact me to discuss a future project or schedule a consultation.</p>
    </header>
    <section class="section-body__content">
        <div class="card-container">
            <div class="card">
                <header class="card-header">
                    <h3><a href="" rel="nofollow noreferrer" target="_blank" title="{{ .name }}">{{ .name }}</a></h3>
                </header>
                <p></p>
            </div>

            
        </div>
        <ul>

            <li></li>
        </ul>
    </section>
</article>