<header class="h-100">
    <div class="row">
      <label for="nav-toggle" aria-role="navigation">
        <span class="hamburger"></span>
        <a href="{{ .Site.BaseURL}}" title="{{ .Title }}"
          ><h1>{{ .Site.Title }}</h1></a
        >
      </label>
      <input type="checkbox" name="nav-toggle" id="nav-toggle" />
      <nav>
        
        {{ partial "components/navigation.html" . }}
      </nav>
    </div>
    {{ if .IsHome }} {{ partial "components/hero-banner.html" . }} {{ end }}
  </header>
