*,
*::before,
*::after {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'EB Garamond', serif;
    scroll-behavior: smooth;
}

article, section, main, aside, figure, figcaption {
    display: block;
    margin: 0 auto;
    padding: 1em;
}

figure, figcaption {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 60ch;
    padding: 1.25em;
}

a {
    font-size: 1.25em;
    text-decoration: none;
}

.card-header > h3 {
    position: relative;
    &:after {
        background-color: #333;
        box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.1);
        bottom: -7px;
        content : '';
        display: block;
        height: 2px;
        left: 50%;
        margin:  0auto;
        position: absolute;
        transform: translateX(-50%);
        width: 80px;
    }
}

ul {
    list-style: none;
}

li a {
    color: #000;
    display: block;
    font-weight: 600;
    padding: 1em 1.5em;
    position: relative;
    &:after {
        background: linear-gradient(0.1turn, #999, #666, #333);
        bottom: 7px;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 250ms ease-in-out;
        width: 100%;
    }
    &:hover::after {
        transform: scaleX(100%);
    }
}

.wrapper {
    display: block;
    margin: 0 auto;
    max-width: 968px;
}


header {
    .row {
        display: block;
        width: 100%;
        margin: 0 auto;
        label {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 2em auto;
            min-height: 25px;
            padding: 1em 2em;
            max-width: 100%;
            a {
                h1 {
                    font-size: .75em;
                }
            }
            .hamburger {
                background: #333;
                border-radius: 10px;
                display: block;
                padding: 0;
                position: relative;
                height: 7px;
                width: 50px;
                &:before {
                    background: #333;
                    border-radius: 10px;
                    content: '';
                    display: block;
                    height: 7px;
                    position: absolute;
                    top: -10px;
                    width: 50px;
                }
                &:after {
                    background: #333;
                    border-radius: 10px;
                    content: '';
                    display: block;
                    height: 7px;
                    position: absolute;
                    bottom: -10px;
                    width: 50px;
                }
            }
        }
        label + #nav-toggle {
            display: none;
        }
        #nav-toggle + nav {
            height: 0;
            overflow: hidden;
            transform-origin: left top;
            transition: height 250ms ease-in-out 0.1s;
        }
        #nav-toggle:checked + nav {
            height: 400px;
        }

        nav {
            padding-top: 21px;
            ul {
                align-items: center;
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: space-evenly;
                li {
                    a {
                        &:visited {
                            color: indigo;
                        }
                    }
                }
            }
        }
    }
}

.card {
    display: block;
    margin: 1em auto;
}