@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    text-align: left;
}

h2 {
    font-size: 1.25em;
}


.wrapper {
    max-width: 100ch;
    padding: .25em;
}

#elizabeth-bohnhorst {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 800;
    &:after {
        content: '';
    background: rgba(0,0,0,0.75);
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.13);
    display: block;
    height: 2px;
    left: 50%;
    margin: .5 0;
    width: 194px;
    }
}

#work-experience {
    
}
#other::after,
#education::after,
#work-experience::after {
    content: '';
    background: rgba(0,0,0,0.25);
    display: block;
    height: 2px;
    margin-top: .66em;
    width: 100%;
}

p {
    max-width: initial;
    padding: .33em 0;
    span {
        color: #555;
    }
}

a {
    font-size: 1em;
}

h1,h2,h3,p,span {
    font-family: 'EB Garamond', serif;
}